@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Example of a normal website without the css and javascript for the reporting tool.</p>
</div>

<div>
    <a href="~/report">Click here to enter the report viewer!</a>
</div>