#slider {
    background: white;
}

#trigger {
    position:fixed;
    top:10%;
    right:10px;
    width:100px;
    height:50px;
}

#slider {
    padding:20px;
}

.btnFilterContainer {
    padding-top:20px;
}

.container {
    margin-left: 0px;
    margin-right: 0px;
}