@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    ViewData["Title"] = "Welcome to DashReportViewer";
    ViewData["disableFilter"] = true;
    ViewData["KioskMode"] = false;
    ViewData["SideBarBackgroundColor"] = Model.SideBarBackgroundColor;
}

<div>

    This is where users will go
</div>