@model IList<DashReportViewer.Models.Reporting.Report>

@foreach (var report in Model)
{
    <li class="nav-item active">
        <a class="nav-link" href="~/report/reports?reportType=@(report.Id.ToString())">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>@(report.Name)</span>
        </a>
    </li>
}