@model DashReportViewer.Shared.ReportComponents.AreaChartReportComponent

@{
    var dataPoints = ((DashReportViewer.Shared.ReportContent.AreaChartContent)Model.RawData).dataPoints;
    var xAxis = ((DashReportViewer.Shared.ReportContent.AreaChartContent)Model.RawData).XAxis;
}

<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawAreaChart);

    function drawAreaChart() {

        var dataPoints = @Html.Raw(Json.Serialize(dataPoints));
        var xAxis = @Html.Raw(Json.Serialize(xAxis));

        let dataContainer = [];

        // put in the year
        let labels = [];
        labels.push(xAxis[0]);

        // attach the labels on the top
        for (var i = 0; i < dataPoints.length; i++) {
            labels.push(dataPoints[i].label);
        }
        dataContainer.push(labels);

        let isReset = true;
        let dataIndex = 0;
        let dataLength = dataPoints[0].data.length;

        //let containTempData = [];
        for (var x = 0; x < dataLength; x++) {
            let tempData = [];
            for (var i = 0; i < (xAxis.length - 1); i++) {

                if (isReset) {
                    tempData.push(xAxis[dataIndex + 1]);
                    dataIndex++;
                    isReset = false;
                }

                tempData.push(dataPoints[i].data[x]);
            }
            dataContainer.push(tempData);
            isReset = true;
        }
        console.log(dataContainer);

        var data = google.visualization.arrayToDataTable(dataContainer);

        var options = {
            //title: 'Company Performance',
            hAxis: { title: "Test", titleTextStyle: { color: '#333' } },
            vAxis: { minValue: 0 }
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>


<div>
    <div id="chart_div" style="width: 100%; height: 500px;"></div>
</div>